* {
  margin: 0;
  padding: 0;
}

body {
  background: #e9ecf4;
  color: #fff;
  font-family: "Roboto", sans-serif;
}



.contenedor > div,
.header,
.contenido,
.sidebar,
.footer {
  padding: 20px;
  border-radius: 10px;
}
.contenedor{
  width: 90%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
  "header header header"
  "contenido contenido sidebar"
  "espacio1 espacio2 sidebar"
  "footer footer footer";
  gap: 20px;
}
.header {
  background-color: #12203e;
  grid-area: header;
}

.contenido {
  background-color: rgb(163, 13, 143);
  grid-area: contenido;
  
 
}

.sidebar {
  background-color: #faa43d;
  grid-area: sidebar;
 
}

.espacio1 {
  background-color: #55a8fd;
  grid-area: espacio1;
 
}

.espacio2 {
  background-color: #0b4885;
  grid-area: espacio2;
 
}

.footer {
  background-color: rgb(182, 45, 45);
  grid-area: footer;
}

